body {
    margin: 0;
    font-family: tahoma;
}

.main-menu {
    background-color: #74b9ff;
    position: sticky;
    top: 0;
    padding: 5px;
}

.main-menu::after {
    content: '';
    clear: both;
    display: block;
}
.main-menu > ul {
    display: flex;
}
.main-menu ul li {
    list-style: none;
    position: relative;
}
.main-menu ul li a {
    color: #ffffff;
    text-decoration: none;
    text-transform: capitalize;
    padding: 15px 20px;
    display: block;

}
.main-menu ul li:hover a {
    background-color: #ff7675;
}

/* sub menu */
.main-menu ul ul {
    padding-left: 0;
    min-width: 180px;
    position: absolute;
    left: 0;
    top: 100%;
    display: none;
}
.main-menu ul li:hover ul {
    display: block;
}
.main-menu ul ul li:hover a {
    background-color: #74b9ff;
}
